# Ignore all Terraform local state and providers
**/.terraform/
**/.terraform/*
**/.terraform/providers/
**/.terraform/providers/**

# Optional: ignore Terraform state files too
*.tfstate
*.tfstate.backup

# Optional: ignore crash logs
crash.log